@charset "utf-8";
/* CSS Document */

h2 {
	color:#3B7ECF; 
	font-family: consolas, Charcoal, sans-serif; 
	white-space: nowrap;
}

h1 {
	color:#3B7ECF; 
	font-family: consolas, Charcoal, sans-serif; 
	white-space: nowrap;
	font-family: monospace;
    white-space: pre;
}

h3 {
	color:#3B7ECF; 
	font-family: consolas, Charcoal, sans-serif; 
	white-space: nowrap;
	font-family: monospace;
    white-space: pre;
}

