@charset "utf-8";
/* CSS Document */

h2 {
	color:#018600; 
	font-family: consolas, Charcoal, sans-serif; 
	white-space: nowrap;
}

h1 {
	color:#018600; 
	font-family: consolas, Charcoal, sans-serif; 
	white-space: nowrap;
	font-family: monospace;
    white-space: pre;
}

p{
	color:#018600; 
	font-size: 5px;
	font-weight: 550;
	font-family: consolas, Charcoal, sans-serif; 
	white-space: nowrap;
	font-family: monospace;
    white-space: pre;
}

#subHeader{
	color:#018600; 
	font-size: 5px;
	font-weight: 550;
	font-family: consolas, Charcoal, sans-serif; 
	white-space: nowrap;
	font-family: monospace;
    white-space: pre;
}

h3{
	color:#3B7ECF; 
	font-family: consolas, Charcoal, sans-serif; 
	white-space: nowrap;
	font-family: monospace;
    white-space: pre;
}


.hidden{
	display: none;
}

#Overlay{
	position: fixed; 
	left: 0px;
  	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0;
}

.important {
	color:#FFFFFF; 
}

.alabaster {
	
}
